/* styles.css */
body {
	font-family: "Arial", sans-serif;
	font-size: 16px; 
	background-color: #F5F1E8; 	
    color: #212121;    
	margin: 0;
	padding: 0;
    text-align: left; /* has aligned body text in my pages to left */

}

header {
    background-color: #FC5500;
    color: #212121;
    text-align: left;
    padding: 20px 70px;	
}


nav ul {
    list-style-type: none; /* removes bullets as navigation bars don't need list markers */
    padding: 0; /* removes browser default settings */
	background-color: #F5F1E8;
    color: #212121;
}

nav li {
	background-color: #F5F1E8;
    color: #212121;
    display: inline;
    margin-right: 20px;
}

li a:hover { /* will change the colour of the link when user hovers over it */
	background-color: #212121;
} 

/* nav a {
    text-decoration: none;
    color: #212121; /* sets the colour for the links (Web Development Course page) 
} DON'T THINK I NEED THIS ANYMORE 02/05 */

h1 {
	font-family: "Fjalla One", sans-serif; 
	font-size: 46px;
	
}
	
.h1wearehb {
	font-family: "bubblegum-pop-shadow", sans-serif;
	color: #FC5500;
}

.h1center { /* class to center headers that use h1center */
	text-align:center;
}

.h1padding {
	padding-left: 250px;
}

h2 {
	font-family: "Fjalla One", sans-serif;
	padding-bottom: 25px;
}
	
h3 { 
	text-align: left;
}

p {
    white-space:pre-line; /* sets p element out in paragraph format, reduces need to use <br> html tag and creating whitespace 'pre-line' wraps text */
}	

b {
	height: 165%;
	width: 100%;
}

main {  
    border: 50px;
    padding-bottom: 25px;
	display: flex; /* center left and right columns in container */
	justify-content: center;	
}

footer {
    background-color: #FAE800; 
    color: #212121;
    text-align: center;
    padding: 10px;
}

.announcement  {
    background-color: #FAE800; 
    color: #212121;
    text-align: center;
    padding: 10px;
	font-weight: bold;
}

.announcementhelp {
	 background-color: #FC5500; 
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

/* code below separates relevant pages into 2 columns, a left and a right */

.container {
    width: 100%; /* Optional: Set container width */
    overflow: hidden; /* Clear the float */
	/* display: inline; */
	 display: flex; /* center left and right columns in container */
	 justify-content: center;
}

.left-column {
    width: 40%; /* Set left column width to 40% */
    float: left; /* Float the left column to the left */
    box-sizing: border-box; /* Include padding and border in the width */

}

.right-column {
    width: calc(50% - 60px); /* Calculate right column width to fit within the container */
    float: right; /* Float the right column to the right */
    /* padding-left: 22px; /* Add padding to the right column */
    box-sizing: border-box; /* Include padding and border in the width */
	text-align: center;
}
	
.mission {
		padding-top: 150px;
}

/* code below is creating styling for a menu button */

.Menu-button {
	width: 35px;
	height: 35px;
	cursor: pointer;
	position: fixed;
	z-index: 1000; /* stack order for specific elements */
	right: 20px;
	margin: 20px 70px; /* using margin makes the menu button clickable only. Padding makes the padding area and the menu clickable. Only need button to be clickable */
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #FAE800;
	margin: 6px 0;
	transition: 0.4s;
}

/* rotates first bar */
.change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
}

/* fades out second bar */
.change .bar2 {
	opacity: 0;
}

/*rotates last bar */
.change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
} 

/* The Overlay (background) */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FC5500;
  background-color: #FC5500; /* DO I NEED THIS TWICE? */
  overflow-y: hidden;
  transition: 0.5s;
}

.open {
	height: 100%;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #FAE800;
  display: block;
  transition: 0.5s;
  margin: 0px 500px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


/* https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp */


/* Container needed to position the overlay. Adjust the width as needed */
.containericon {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: inline;
}

/* Make the image responsive */
.image {
  width: 100%;
  height: auto;
}


/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlayicon {
  position: absolute;
 /* top: 15px; */
  left: 0;
  right: 0;
  bottom:0;
  height: 165%;
  width: 100%;
  opacity: 0; /* opacity of icon text description */
  transition: .3s ease;
  background-color: #F5F1E8; 
  color: #212121;
  text-align: center;
}


/* When you mouse over the container, fade in the overlay icon*/
.containericon:hover .overlayicon {
  opacity: 1;  /* opacity of icon text description when hovered over */  	
}

.containericon:hover .benefits {
  opacity: 25%;  /* opacity of icon text description when hovered over */
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.logoimage {	
	/* z-index: 1; /* stack order for specific elements */
	/* width: fit-content; /* not supported by Firefox or Firefox for Android */
	/* transition: .3s ease; /* transition opacity of image when hovering away */

	width: fit-content;  /* resource - https://www.tutorialrepublic.com/codelab.php?topic=faq&file=css-image-swap-on-hover */   
    position: relative;
    display: inline-block;		       		
}

.logoimage .hoverlogo {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logoimage:hover .hoverlogo {
	display: inline;
}

.rightcolumnimage {
	position: relative; /* positioning it relative allows me to work with 'left' moving it further into the page */
	float: none;
	width: 250px;	
}
		
.textleft {
	text-align: left;
	padding-bottom: 50px;
}
	
	/* CENTRE ALIGN VERTICALLY MEET THE TEAM PAGE https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
.imgborder { /* CSS Border on PNG image with transparent parts from stack overflow */
	filter: drop-shadow(5px 0 0 black) 
    drop-shadow(0 5px 0 black)
    drop-shadow(-5px 0 0 black) 
    drop-shadow(0 -5px 0 black);
	-webkit-filter: drop-shadow(5px 0 0 black) 
    /*drop-shadow(0 5px 0 red)*/
    drop-shadow(-5px 0 0 black) 
    /*drop-shadow(0 -5px 0 yellow)*/;
}

.benefits {
	padding-bottom: 25px;
	width: auto; 
	height: 150px;	
}

.rounded {
  border-radius: 50%;
}  

.buttonlink:link, .buttonlink:visited {
  background-color: #F5F1E8;
  color: #212121;
  /* border: 2px solid #FC5500;
  padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: .3s ease;
}

.buttonlink:hover, .buttonlink:active {
  background-color: #FC5500;
  color: #FAE800;
  transition: .3s ease;
  border: 2px solid #F5F1E8;
}

.rcorner {
	border-radius: 20px;
	border: 2px solid #FC5500;
	padding: 10px 20px;
} 

.rcorner2 {
	border-radius: 20px; /* creating a rounded button for the button in the footer */
	border: 2px solid #FAE800;
	padding: 10px 20px;
}  

input[type="text"] {
	font-size: 16px;
}

textarea  {
	font-size: 16px;
	font-family: sans-serif;
}

#email {
	font-size: 16px;
}

#phone {
	font-size: 16px;
}

/* https://www.w3schools.com/howto/howto_css_image_center.asp */

.course-links {
	text-align: center;
	margin-bottom: 50px;
}

.course-links a {
	margin-right: 15px;
	text-decoration: none;
}
